.frame-child15 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.frame-parent5 {
  width: 267px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--color-darkslateblue-200);
}
.group-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.frame-parent5,
.medicomp-logo {
  display: flex;
  align-items: flex-start;
}
.medicomp-logo {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.medicomp-india1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 19px;
  font-weight: 700;
  color: inherit;
  font-size: 18px;
}
.medicomp-india2 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 19px;
  font-weight: 700;
  color: inherit;
}
.medicomp-india-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent6,
.mobile-results-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent6 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.mobile-results-inner {
  width: 269px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--h3-medical-size);
}
.frame-child16 {
  height: 60px;
  width: 362px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 14.91px;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.iconlybrokensearch2 {
  height: 26.5px;
  width: 26.5px;
  position: relative;
  min-height: 27px;
  z-index: 1;
}
.crocin-advance1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 22px;
  display: inline-block;
  min-width: 120px;
  z-index: 1;
}
.crocin-advance-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-2) 0 0;
}
.mobile-results-child,
.rectangle-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent11 {
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 14.91px;
  background-color: var(--white);
  padding: var(--padding-mid-7) var(--padding-3xl) var(--padding-base-8);
  gap: var(--gap-base-6);
}
.mobile-results-child {
  width: 364px;
  padding: 0 var(--padding-12xs) var(--padding-10xs);
  color: var(--color-lightslategray);
}
.price-low-to {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 18px;
  display: inline-block;
  min-width: 110px;
}
.filter-names {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-7xs);
  background-color: #6b9af3;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-5xs);
  white-space: nowrap;
  color: var(--white);
  flex: 1;
}
.filter-names b{
  font-size: 11px;
}
.filter-names1 b{
  font-size: 11px;
}
.filter-names2 b{
  font-size: 11px;
}
.accuracy {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 18px;
  display: inline-block;
  min-width: 62px;
}
.filter-names1 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-7xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-5xs);
  flex: 1;
}
.delivery-time {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 18px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}
.filter-names-parent,
.filter-names2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.filter-names2 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-7xs);
  background-color: var(--white);
  padding: var(--padding-7xs-5) var(--padding-5xs);
  flex: 1; 
}
.filter-names-parent {
  margin: 0;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--h5-medical-size);
  color: var(--labels-primary);
  font-family: var(--h2-medical);
}
.image4,
.image5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.image5 {
  z-index: 6;
}
.image-container {
  height: 11px;
  width: 20px;
  position: relative;
  flex-shrink: 0;
}
.image6,
.image7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.image7 {
  z-index: 6;
}
.image-parent1 {
  height: 11px;
  width: 28px;
  position: relative;
  flex-shrink: 0;
}
.image8 {
  width: 27px;
  height: 9px;
  position: relative;
  z-index: 3;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.25px;
  z-index: 5;
}
.frame-parent7 {
  align-self: stretch;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xl) var(--padding-2xs);
  position: relative;
  gap: 42.5px;
}
.frame-child17,
.product-item-inner {
  box-sizing: border-box;
  max-width: 100%;
}
.product-item-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
}
.frame-child17 {
  align-self: stretch;
  width: 362px;
  position: relative;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  display: none;
  mix-blend-mode: normal;
}
.capsule-pill1 {
  height: 50px;
  width: 50px;
  position: relative;
  display: none;
}
.apollo-pharmacy {
  font-weight: 500;
  color: var(--color-lightslategray);
}
.pharmacy-apollo-container {
  width: 220px;
  position: relative;
  font-size: var(--h5-medical-size);
  letter-spacing: 0.02em;
  line-height: 13.5px;
  display: none;
  flex-shrink: 0;
}
.background1 {
  height: 32px;
  width: 362px;
  position: relative;
  border-radius: 9.25px;
  display: none;
  max-width: 100%;
}
.trip-to-milan {
  height: 34px;
  align-items: center;
}
.frame-child18,
.image-icon1,
.trip-to-milan {
  position: relative;
  display: none;
}
.image-icon1 {
  height: 13px;
  width: 13px;
  object-fit: contain;
}
.frame-child18 {
  height: 86px;
  width: 362px;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  mix-blend-mode: normal;
  max-width: 100%;
}
.capsule-pill2 {
  height: 100%;
  position: relative;
  z-index: 1;
}
.trip-to-milan1 {
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 6;
}
.netmeds {
  font-weight: 500;
  color: var(--color-lightslategray);
}
.pharmacy-netmeds-container {
  align-self: stretch;
  position: relative;
  font-size: var(--h5-medical-size);
  letter-spacing: 0.02em;
  line-height: 13.5px;
  z-index: 1;
}
.trip-to-milan-parent {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.capsule-pill-parent {
  flex: 1;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--padding-sm) var(--padding-smi) var(--padding-xs);
  gap: var(--gap-xs);
  max-width: 100%;
}
.capsule-pill-parent,
.frame-wrapper6,
.product-item,
.rectangle-parent12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper6 {
  flex: 1;
  align-items: flex-start;
  max-width: 102%;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 4;
}
.product-item,
.rectangle-parent12 {
  max-width: 100%;
}
.rectangle-parent12 {
  flex: 1;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  align-items: flex-start;
  /* margin-left: -361px; */
}
.product-item {
  align-self: stretch;
  align-items: flex-end;
}
.frame-child19 {
  height: 46px;
  width: 362px;
  position: relative;
  border-radius: 0 0 16.56px 16.56px;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
}
.total1,
.total2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 14px;
  display: inline-block;
  min-width: 47px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.total2 {
  z-index: 2;
}
.total-parent {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.frame-wrapper7 {
  width: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.b1 {
  position: relative;
  font-size: var(--font-size-lgi);
  display: inline-block;
  color: var(--color-darkslategray-100);
  min-width: 78px;
  white-space: nowrap;
  z-index: 1;
}
.product-item-parent,
.rectangle-parent13 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent13 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 16.56px 16.56px;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-lgi);
  gap: var(--gap-xl);
  cursor: pointer;
}
.product-item-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) var(--padding-8xs) 0;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--h3-medical-size);
  color: var(--labels-primary);
  font-family: var(--h2-medical);
}
.image10,
.image9 {
  width: 28px;
  height: 11px;
  position: absolute;
  margin: 0 !important;
  bottom: 441px;
  left: 110px;
  z-index: 3;
}
.image10 {
  width: 20px;
  left: 48px;
}
.frame-child20 {
  height: 86px;
  width: 362px;
  position: relative;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 1;
}
.capsule-pill3 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  top: -30px;
  left: 14px;
  z-index: 1;
}
.apollo-pharmacy1 {
  font-weight: 500;
  color: var(--color-lightslategray);
}
.pharmacy-apollo-container1 {
  width: 220px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 13.5px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.background2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.25px;
  z-index: 2;
}
.capsule-pill-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-2xs) var(--padding-47xl) var(--padding-5xs-5);
  position: relative;
}
.frame-wrapper8 {
  margin-left: -76px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  max-width: 129%;
  flex-shrink: 0;
}
.trip-to-milan2 {
  width: 219px;
  position: relative;
  font-size: var(--h3-medical-size);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -286px;
}
.frame-child21,
.rectangle-parent14 {
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent14 {
  align-self: stretch;
  border-radius: 16.56px 16.56px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-12xs) var(--padding-9xs)
    var(--padding-56xl);
}
.frame-child21 {
  height: 46px;
  width: 362px;
  position: relative;
  border-radius: 0 0 16.56px 16.56px;
  display: none;
  mix-blend-mode: normal;
}
.total3 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 14px;
  display: inline-block;
  min-width: 47px;
  z-index: 2;
}
.total-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.b2 {
  position: relative;
  font-size: var(--font-size-lgi);
  display: inline-block;
  color: var(--color-darkslategray-100);
  min-width: 78px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent8,
.image-grid,
.rectangle-parent15 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent15 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 16.56px 16.56px;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-lgi);
  gap: var(--gap-xl);
  font-size: var(--h3-medical-size);
}
.frame-parent8,
.image-grid {
  justify-content: flex-start;
}
.frame-parent8 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.image-grid {
  width: 366px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h5-medical-size);
  color: var(--labels-primary);
  font-family: var(--h2-medical);
}
.image11,
.image12 {
  width: 28px;
  height: 11px;
  position: absolute;
  margin: 0 !important;
  bottom: 282px;
  left: 110px;
  z-index: 3;
}
.image12 {
  width: 20px;
  left: 48px;
}
.frame-child22 {
  height: 86px;
  width: 362px;
  position: relative;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 1;
}
.capsule-pill4 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  top: -30px;
  left: 14px;
  z-index: 1;
}
.pharmeasy {
  font-weight: 500;
  color: var(--color-lightslategray);
}
.pharmacy-pharmeasy-container {
  width: 220px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 13.5px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.background3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.25px;
  z-index: 2;
}
.capsule-pill-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-2xs) var(--padding-47xl) var(--padding-5xs-5);
  position: relative;
}
.frame-wrapper9 {
  margin-left: -76px;
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  max-width: 129%;
  flex-shrink: 0;
}
.trip-to-milan3 {
  position: relative;
  font-size: var(--h3-medical-size);
  z-index: 2;
  margin-left: -286px;
}
.frame-child23,
.rectangle-parent16 {
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent16 {
  align-self: stretch;
  border-radius: 16.56px 16.56px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-12xs) var(--padding-9xs)
    var(--padding-56xl);
}
.frame-child23 {
  height: 46px;
  width: 362px;
  position: relative;
  border-radius: 0 0 16.56px 16.56px;
  display: none;
  mix-blend-mode: normal;
}
.total4 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 14px;
  display: inline-block;
  min-width: 47px;
  z-index: 2;
}
.total-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.b3 {
  position: relative;
  font-size: var(--font-size-lgi);
  display: inline-block;
  color: var(--color-darkslategray-100);
  min-width: 83px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent9,
.image-grid1,
.rectangle-parent17 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent17 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 16.56px 16.56px;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-9xs) var(--padding-8xs)
    var(--padding-lgi);
  gap: var(--gap-xl);
  font-size: var(--h3-medical-size);
}
.frame-parent9,
.image-grid1 {
  justify-content: flex-start;
}
.frame-parent9 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.image-grid1 {
  width: 366px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h5-medical-size);
  color: var(--labels-primary);
  font-family: var(--h2-medical);
}
.image13,
.image14 {
  width: 28px;
  height: 11px;
  position: absolute;
  margin: 0 !important;
  bottom: 123px;
  left: 110px;
  z-index: 3;
}
.image14 {
  width: 20px;
  left: 48px;
}
.frame-child24 {
  height: 86px;
  width: 362px;
  position: relative;
  border-radius: 16.56px 16.56px 0 0;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  display: none;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 1;
}
.capsule-pill5 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  top: -30px;
  left: 14px;
  z-index: 1;
}
.medkart {
  font-weight: 500;
  color: var(--color-lightslategray);
}
.pharmacy-medkart-container {
  width: 220px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 13.5px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.background4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.25px;
  z-index: 2;
}
.capsule-pill-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-2xs) var(--padding-47xl) var(--padding-5xs-5);
  position: relative;
}
.frame-wrapper10 {
  margin-left: -76px;
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  max-width: 129%;
  flex-shrink: 0;
}
.trip-to-milan4 {
  position: relative;
  font-size: var(--h3-medical-size);
  z-index: 2;
  margin-left: -286px;
}
.frame-child25,
.rectangle-parent18 {
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent18 {
  align-self: stretch;
  border-radius: 16.56px 16.56px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-12xs) var(--padding-9xs)
    var(--padding-56xl);
}
.frame-child25 {
  height: 46px;
  width: 362px;
  position: relative;
  border-radius: 0 0 16.56px 16.56px;
  display: none;
  mix-blend-mode: normal;
}
.total5 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 14px;
  display: inline-block;
  min-width: 47px;
  z-index: 2;
}
.total-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.b4 {
  position: relative;
  font-size: var(--font-size-lgi);
  display: inline-block;
  color: var(--color-darkslategray-100);
  min-width: 78px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent10,
.image-grid2,
.rectangle-parent19 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent19 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 16.56px 16.56px;
  background-color: var(--white);
  border: 2px solid var(--stroke);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-lgi);
  gap: var(--gap-xl);
  font-size: var(--h3-medical-size);
}
.frame-parent10,
.image-grid2 {
  justify-content: flex-start;
}
.frame-parent10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.image-grid2 {
  width: 366px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h5-medical-size);
  color: var(--labels-primary);
  font-family: var(--h2-medical);
}
.container4,
.indicator4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.indicator4 {
  height: 14.71%;
  width: 35.73%;
  top: 55.88%;
  right: 32%;
  bottom: 29.41%;
  left: 32.27%;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-darkslateblue-300);
}
.home-indicator6 {
  align-self: stretch;
  height: 34px;
  position: relative;
  display: none;
  z-index: 13;
}
.div21 {
  position: absolute;
  top: 2px;
  left: 0;
  letter-spacing: -0.24px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 17px;
  white-space: nowrap;
}
.status-bar-time-01-default2 {
  position: absolute;
  top: 12px;
  left: 21px;
  width: 54px;
  height: 21px;
  overflow: hidden;
}
.battery-icon2 {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 24px;
  height: 11px;
}
.mobile-signal-icon2,
.wifi-icon8 {
  position: relative;
  width: 15px;
  height: 11px;
}
.mobile-signal-icon2 {
  width: 17px;
}
.status-bar-02-transparent2 {
  align-self: stretch;
  height: 44px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 14;
  text-align: center;
  color: var(--white);
  font-family: var(--font-sf-pro-text);
}
.mobile-results {
  width: 100%;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-30xl) var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--h4-medical-size);
  color: var(--color-darkslateblue-200);
  font-family: var(--h2-medical);
}
@media screen and (max-width: 395px) {
  .filter-names-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 371px) {
  .rectangle-parent14 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 352px) {
  .capsule-pill-container,
  .capsule-pill-group,
  .capsule-pill-parent1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 344px) {
  .capsule-pill-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 302px) {
  .rectangle-parent16,
  .rectangle-parent18 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 224px) {
  .rectangle-parent13 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 213px) {
  .rectangle-parent15,
  .rectangle-parent17,
  .rectangle-parent19 {
    flex-wrap: wrap;
  }
}
