.time,
.time1 {
  position: absolute;
}
.time1 {
  width: 30.39%;
  top: 33.89%;
  left: 36.94%;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.time {
  height: 100%;
  width: 25.43%;
  top: 0;
  right: 74.57%;
  bottom: 0;
  left: 0;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 13.65px);
  border-radius: var(--br-8xs-3);
  border: 1px solid var(--labels-primary);
  box-sizing: border-box;
  width: 25px;
  opacity: 0.35;
}
.cap-icon {
  height: 31.54%;
  top: 36.92%;
  bottom: 31.54%;
  left: calc(50% + 12.35px);
  max-height: 100%;
  width: 1.3px;
}
.capacity {
  position: absolute;
  height: 69.23%;
  top: 15.38%;
  bottom: 15.38%;
  left: calc(50% - 11.65px);
  border-radius: var(--br-10xs-5);
  background-color: var(--labels-primary);
  width: 21px;
}
.battery {
  position: absolute;
  height: 24.07%;
  top: 42.59%;
  bottom: 33.33%;
  left: calc(50% + 10.8px);
  width: 27.3px;
}
.cellular-connection-icon,
.wifi-icon1 {
  position: absolute;
  height: 22.78%;
  top: 43.7%;
  bottom: 33.52%;
  left: calc(50% - 13.5px);
  max-height: 100%;
  width: 17.1px;
}
.cellular-connection-icon {
  height: 22.59%;
  top: 43.52%;
  bottom: 33.89%;
  left: calc(50% - 40.2px);
  width: 19.2px;
}
.levels {
  position: absolute;
  height: 100%;
  width: 30.53%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 69.47%;
}
.status-bar {
  width: 414px;
  height: 54px;
  position: relative;
  display: none;
  max-width: 100%;
  color: var(--labels-primary);
  font-family: var(--font-sf-pro);
}
.outline-arrows-arrow-left {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-icon {
  height: 42px;
  width: 42px;
  box-shadow: var(--shadow);
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.my-locations {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.my-locations-wrapper {
  width: 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.button-icon1 {
  height: 42px;
  width: 42px;
  border-radius: var(--br-3xl);
  background-color: var(--white);
  display: none;
  opacity: 0;
}
.title,
.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.title {
  flex: 1;
  gap: var(--gap-45xl);
}
.title-wrapper {
  width: 345px;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--px-semi-bold2-size);
}
.b-baker-street,
.home {
  position: relative;
  font-weight: 600;
}
.home {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 44px;
}
.b-baker-street {
  align-self: stretch;
  font-size: var(--h3-medical-size);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.address1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  min-width: 172px;
}
.outline-selected {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.card-location,
.outline-selected-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-5) 0 0;
}
.card-location {
  width: 345px;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--neutral-neutral-50);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-4xl);
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--px-semi-bold1-size);
}
.b-baker-street1,
.home1 {
  position: relative;
  font-weight: 600;
}
.home1 {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 68px;
}
.b-baker-street1 {
  align-self: stretch;
  font-size: var(--h3-medical-size);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.address2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  min-width: 172px;
}
.outline-video-audio-sound {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.card-location1,
.outline-video-audio-sound-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-5) 0 0;
}
.card-location1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--neutral-neutral-50);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-4xl);
  gap: var(--gap-base);
}
.plus-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.add-new-location {
  align-self: stretch;
  position: relative;
  font-size: var(--h3-medical-size);
  font-weight: 600;
  font-family: var(--px-semi-bold);
  color: var(--color-royalblue-100);
  text-align: left;
}
.add-new-location-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 172px;
}
.card-location2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-5xl);
  background-color: rgba(167, 197, 251, 0.4);
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.space {
  align-self: stretch;
  height: 40px;
  position: relative;
  background-color: var(--color-gainsboro);
  opacity: 0;
}
.card-location-parent,
.next {
  font-family: var(--px-semi-bold);
  text-align: center;
}
.card-location-parent {
  width: 345px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 200px;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--px-semi-bold1-size);
  color: var(--neutral-neutral-900);
}
.next {
  width: 73px;
  position: relative;
  font-size: var(--h3-medical-size);
  font-weight: 600;
  color: var(--white);
  display: inline-block;
  min-width: 73px;
}
.button,
.button-wrapper,
.mobile-my-locations {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: transparent;
  flex: 1;
  box-shadow: var(--shadow-2);
  border-radius: var(--br-9xl);
  background: linear-gradient(121.94deg, #3875eb, #c0d7ff);
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.button-wrapper,
.mobile-my-locations {
  justify-content: flex-start;
}
.button-wrapper {
  width: 365px;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  max-width: 100%;
}
.mobile-my-locations {
  width: 100%;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 6px solid var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-21xl);
  gap: var(--gap-xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--neutral-neutral-900);
  font-family: var(--px-semi-bold);
}
@media screen and (max-width: 275px) {
  .title {
    flex-wrap: wrap;
  }
}
